.card {
  &:hover {
    & .card__image {
      transform: scale(1.02);
      box-shadow: var(--button-box-shadow);
    }
  }
  & .card__image {
    transform: scale(1);
    transition: all 0.2s;
    background-color: var(--dark-grey-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: var(--default-image-height);
  }

  & .card__title {
    color: white;
    font-weight: 500;
    font-size: var(--font-size-xl);
    position: absolute;
  }

  & .card__label {
    margin-top: 0.8em;
  }

  & .card__feed {
    @media only screen and (max-width: 1024px) {
      min-height: auto;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
